.productsList{
    background-color: #f1f1f1;
    margin:5% 5%;
}
.product{
    border-left: 3px solid #EB6440;
    border-top: 3px solid #EB6440;
    border-right: 3px solid #EB6440;
}
.productsList .product::after {
    display: table;
    content: " ";
    clear: both;
}

.productsList .product .productImage{
    float: left;
}

.productsList .product .productInfo {
    float: left;
}
.specs{

    border-left:3px solid #EB6440;
    right:0%;
    width:35%;
    height:150px;
    float:right;
}

span{
    display: inline-block;
    width:100%;
}
h4{
    margin:0;
    float:left;

}
img {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

